#app
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50

    border: 10px solid #ffa095
    border-radius: 2rem
    box-shadow: 0px 0px 20px 10px lightgray
    width: 70dvh
    height: 85dvh
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

nav
    padding: 30px

nav a 
    font-weight: bold
    color: #2c3e50

nav a.router-link-exact-active 
    color: #42b983

li
    list-style-type: none

form
    display: grid
    width: 50%

input,
button
    padding: 5px
    margin: 5px

#loginRegister
    display: inline

.home
    display: grid
    align-items: center
    justify-content: center

.header
    display: flex
    align-items: center

.dot
    background-color: #73e6ff
    border-radius: 50%
    display: inline-block
    margin: 10px

.big
    width: 25px
    height: 25px

.average
    width: 20px
    height: 20px

.small
    width: 15px
    height: 15px

.header h1
    color: #2edaff

.disabled
    pointer-events: none
    content: "\2605"

.task-name
    background: pink
    padding: 2dvh
    text-decoration: underline
    text-decoration-style: dotted
    font-size: 20px

.task-container
    padding-inline-start: 0px
    min-height: 100px
    max-height: 400px
    overflow-y: auto

.task
    width: auto

.task-number
    position: absolute
    left: 12%

.done-task
    position: absolute
    right: 12%

    